html {
  background-image: url("/kuail.png");
}

div.header {
  color: black;
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  padding-top: 10%;
}
div.rheader,
div.pheader {
  color: white;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 3%;
}

div.reflink {
  padding-top: 5%;
  color: black;
  border-radius: 30%;
  padding-bottom: 20;
}

div.start {
  padding-top: 5%;
  width: 50%;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}
div.Contact__title h2 {
  font-size: 28px;
}
div.Contact__title h3 {
  font-size: 18px;
}
div.Contact__form {
  padding-top: 5%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}
div.Contact__form input,
div.Contact__form textarea {
  width: 100%;

  background-color: #b0c4de;
  outline: none;

  padding: 10px;
  margin: 2px 0;

  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;

  padding: 30px 40px 30px;
}
div.Contact__form input:hover,
div.Contact__form textarea:hover,
div.Contact__form input:focus,
div.Contact__form textarea:focus {
  background-color: white;
}

.Links a:hover,
.Links a.selected {
  color: black;
  background: white;
}
.Links a.selected {
  background-color: "Gray";
}
.Links a:active {
  color: gray;
}

div.Links {
  width: 100%;
  padding-top: 7%;
  margin: 0 20%;
}

.Links a {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;

  padding: 30px 40px 30px;
  color: white;
  margin: 5%;

  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
}
html .fade {
  animation: fade 2s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
