body {
  overflow-x: hidden;
  background-image: url("/kuail.png");
  background-repeat: no-repeat;
}
div.imageheader {
  max-width: 200px;
}

div.header {
  color: white;
  margin: 0 auto;
  display: flex;
  width: 400px;
  padding-top: 10%;
}
div.FPKTlogo {
  width: 120px;
  margin: 0px 15%;
}
div.kuail_logo {
  margin: 0px 15%;
  float: right;
  margin-top: 70px;
}
div.RSociales,
.RSociales img {
  float: left;
  width: 25px;
  margin: 0px 15%;

  display: flex;
}

div.ubi__footer,
div.phone__footer,
div.mail__footer {
  width: 800px;
  margin: 0 auto;
  margin-left: 40%;
  padding-bottom: 1px;
  margin-bottom: 20px;
}
img.mail__image,
img.ubi__image,
img.phone__image {
  width: 25px;
  float: left;
  margin: 0 10px;
}

footer,
div.foooter {
  background-image: url("/foooter.png");

  color: white;
  background-repeat: no-repeat;
}
footer p {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

div.reflink {
  padding-top: 5%;
  color: white;
  border-radius: 30%;
  padding-bottom: 20;
}

div.start {
  padding-top: 5%;
  max-width: 600px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

p.kuai__amount,
div.kuai__amount,
table.kuai__amount,
table.kuai__amount textarea {
  width: 30%;
  color: white;
  background-color: rgb(108, 182, 243);

  padding: 10px;
  margin: 20px auto;
  box-shadow: teal;
  border-radius: 20px;

  padding: 30px 40px 30px;
}
div.Contact__title h2 {
  font-size: 28px;
}
div.Contact__title h3 {
  font-size: 18px;
}
div.contact__form button,
div.Contact__form {
  padding-top: 5%;
  max-width: 400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}
div.contact__form button,
div.Contact__form input,
div.Contact__form textarea {
  width: 100%;

  background-color: white;
  outline: none;

  padding: 10px;
  margin: 4px 0;

  border: 1px solid rgb(148, 148, 148);
  border-radius: 10px;

  padding: 20px 40px 5px;
}
div.Contact__form input:hover,
div.Contact__form textarea:hover,
div.Contact__form input:focus,
div.Contact__form textarea:focus {
  background-color: rgba(128, 128, 128, 0.178);
}

.Links a:hover,
.Links a.selected {
  color: black;
  background: white;
}
.Links a.selected {
  background-color: "Gray";
}
.Links a:active {
  color: gray;
}

div.Links {
  width: 100%;
  padding-top: 7%;
  margin: 0 20%;
}

.Links a {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 40px;

  padding: 30px 40px 30px;
  color: white;
  margin: 5%;

  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
}

button.links {
  border-radius: 40px;

  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(79, 173, 250);
  font-size: 20px;
  align-content: center;
  padding: 30px 40px 30px;

  margin: 0 auto;
  margin-top: 100px;
  display: flex;
}
.links:hover,
.links.selected {
  background-color: rgb(255, 255, 255);
  color: goldenrod;
}

div.foo__background {
  background-color: rgba(58, 192, 226, 0);
  margin-top: 19%;
  padding-top: 100px;
}

html .fade {
  animation: fade 2s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 5000px) {
  .imageheader,
  .pheader,
  div.rheader,
  div.pheader {
    width: calc(100% - 40px);
    box-sizing: border-box;
    padding: 20px;
  }

  @media (max-width: 1500px) {
    .imageheader,
    .pheader,
    div.rheader,
    div.pheader {
      color: white;
      margin: 0 auto;
      width: calc(100% - 40px);
      padding-top: 3%;
    }
    div.Links,
    .links a {
      font-size: 10px;
      width: calc(100%-40px);
    }
  }
}
@media (max-width: 900px) {
  div.imageheader {
    width: 20%;
  }
  div.Links,
  .links a {
    margin: 0;
    display: flex;
    width: calc(100%-160px);
  }
}
